frontend_app/node_modules
frontend_app/coverage
frontend_app/build
frontend_app/.DS_Store
frontend_app/.env.local
frontend_app/.env.development.local
frontend_app/.env.test.local
frontend_app/.env.production.local
frontend_app/npm-debug.log*
frontend_app/yarn-debug.log*
frontend_app/yarn-error.log*
frontend_app/.env
.env
backend_app/migrations/**
!**/backend_app/migrations
!**/backend_app/migrations/__init__.py


